@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat&family=Oswald:wght@500&display=swap');

:root{
--colorGreen: #50D67B; 
--colorCream: #F0F1E8;
--colorDark: #191D1E;
--colorGreey: #253324; 
--colorBlue: #416EF2; 
--fontDetail: 'Oswald', sans-serif;
--fontTitle: 'Inter', sans-serif;

}

*{                                                      
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body, html{                                             
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--colorCream);
}

main{                                                   
    width: 300px;
    height: 550px;
    border-radius: 10px;
    background-color: var(--colorDark);
    box-shadow: 2px 2px 5px #00000083;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}



article#artFirst{                                        /*///////ARTIGO 1///////*/     
    display: block;
    height: 285px;
    width: 300px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--colorDark);
}

article#artFirst form{                                  /*/FORMULARIO/*/
    margin-top: 50px;
}

.material-symbols-outlined{                             /*//SIMBOLOS//*/
    color: var(--colorCream);
    font-size: 1.8em;
}

.material-symbols-outlined::after{
    font-family: var(--fontDetail);
    font-size: 0.8em;
    content: ": ";
}

article#artFirst                                        /*//INPUTS//*/
input{                                                               
    margin-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

label{                                                  /*///LABEL///*/
    display: none;
}

article#artFirst                                        /*////BOTÔES E LABEL////*/
label, input.buttons{                                   
    font-family: var(--fontDetail);                     
    color: white;
}

article#artFirst                                        /*//INPUTS DE CAMPO//*/
input.field{
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    color: white;
}

article#artFirst                                        /*////BOTÔES////*/
input.buttons{   
    cursor: pointer;                                       
    background-color: var(--colorBlue);
    padding: 6px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 15px;
}

article#artFirst                                        
input.buttons:hover{
    font-size: 1em;
    transition: 0.6s;
}  

article#artSecond{                                      /*///////ARTIGO 2///////*/
    position: relative;                                    
    display: block;
    height: 265px;
    width: 300px;
    background-image: url(../img/pexels-anthony-157520.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    border-radius: 15px 15px 10px 10px;
    padding: 10px 0px 0px 10px;
}

article#artSecond h2{                                   /*TITULO*/
    position: absolute;
    top: calc(100% - 145px );                                 
    display: block;

    width: 247px;
    font-size: 1.8em;
    font-family: var(--fontTitle);
    color: var(--colorCream);
}
