main{
    width: 90vw;
    height: 450px;
    max-width: 980px;    
}

article#artFirst{
    float: left;
    width: 50%;
    height: 100%;
}

.material-symbols-outlined::after{
    display: none;
}

label{
    display: inline;
}

article#artFirst                                        /*////BOTÔES////*/
input.buttons{   
    cursor: pointer;                                       
    border: solid 3px var(--colorBlue);
    background-color: transparent;
    padding: 6px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 15px;
}

article#artFirst                                        
input.buttons:hover{
    background-color: var(--colorBlue);
    font-weight: bold;
    color: white;
    border: solid 3px var(--colorBlue);
    transition: 0.6s;
}  

article#artSecond{
    position: relative;

    float: right;
    width: 50%;
    height: 100%;
}


article#artSecond h2{
    position: absolute;
    top: calc(100% - 205px);
    font-size: 2em;
    width: 50%;
}

